@namespace h "http://www.w3.org/1999/xhtml";
.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: justify
    }
.calibre1 {
    display: block
    }
.calibre10 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8pt;
    text-align: justify;
    text-indent: 2em
    }
.calibre11 {
    color: inherit;
    cursor: inherit;
    text-decoration: inherit
    }
.calibre12 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 2em
    }
.calibre13 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2em
    }
.calibre14 {
    color: blue;
    cursor: pointer;
    text-decoration: underline
    }
.calibre15 {
    color: blue
    }
.calibre16 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0
    }
.calibre17 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 2em
    }
.calibre18 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre19 {
    font-size: 1.125em;
    line-height: 1.2
    }
.calibre2 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0
    }
.calibre20 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify;
    text-indent: 1em
    }
.calibre21 {
    display: block;
    margin-bottom: 0;
    margin-left: 2em;
    margin-right: 0;
    margin-top: 0;
    text-align: center;
    text-indent: 2em
    }
.calibre22 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre23 {
    font-size: 0.55556em
    }
.calibre24 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: right;
    text-indent: 2em
    }
.calibre25 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: left;
    text-indent: 2em
    }
.calibre26 {
    height: 368px;
    vertical-align: baseline;
    width: 537px
    }
.calibre27 {
    height: 1600px;
    vertical-align: baseline;
    width: 1200px
    }
.calibre28 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre29 {
    text-decoration: underline
    }
.calibre3 {
    display: table-row;
    vertical-align: middle
    }
.calibre30 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
    text-align: center;
    text-indent: 0
    }
.calibre31 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 1em;
    text-indent: -19pt
    }
.calibre32 {
    display: block;
    margin-bottom: 0;
    margin-left: 19pt;
    margin-right: 0;
    margin-top: 0;
    text-indent: -19pt
    }
.calibre4 {
    display: table-cell;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: inherit;
    vertical-align: inherit
    }
.calibre5 {
    font-size: 1.41667em;
    line-height: 1.2
    }
.calibre6 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-indent: 38%
    }
.calibre7 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-indent: 34%
    }
.calibre8 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 8pt;
    text-indent: 2em
    }
.calibre9 {
    border: 1px inset;
    color: gray;
    display: block;
    height: 2px;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    text-indent: 43%
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }