@namespace h "http://www.w3.org/1999/xhtml";
.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 5pt;
    margin-right: 5pt;
    margin-top: 0;
    page-break-before: always
    }
.calibre1 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.calibre10 {
    display: block;
    margin-top: 1em;
    text-align: center
    }
.calibre11 {
    font-size: 1.41667em
    }
.calibre12 {
    display: block;
    text-align: center
    }
.calibre13 {
    font-size: 0.75em
    }
.calibre14 {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-align: center
    }
.calibre15 {
    display: block;
    text-align: justify;
    text-indent: 0
    }
.calibre16 {
    display: block;
    text-align: justify;
    text-indent: 1em
    }
.calibre17 {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.calibre18 {
    display: block;
    margin-top: 1em;
    text-align: left
    }
.calibre19 {
    display: block;
    margin-bottom: 0;
    margin-left: 1.25em;
    margin-right: 0;
    margin-top: 0;
    text-align: justify
    }
.calibre2 {
    display: block;
    margin-top: 2em;
    text-align: center
    }
.calibre20 {
    display: block;
    margin-top: 2em;
    text-align: justify
    }
.calibre21 {
    display: block;
    text-align: right
    }
.calibre3 {
    height: auto;
    width: auto
    }
.calibre4 {
    display: block;
    margin-top: 2em
    }
.calibre5 {
    font-size: 1.125em
    }
.calibre6 {
    display: block;
    margin-top: 1em
    }
.calibre7 {
    display: block;
    text-align: left
    }
.calibre8 {
    font-size: 1em
    }
.calibre9 {
    display: block
    }
.italic {
    font-style: italic
    }
.mbppagebreak {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    page-break-after: always
    }